header {
  background: #091120;
  border-bottom: 1px solid #274275;
  font-size: 20px;
  padding: 20px 140px;
}

header a {
  color: white;
  text-decoration: none;
}

body {
  background: black;
  color: white;
  font-family: sans-serif;
}

.container {
  background: #091120;
  width: 1020px;
  padding: 0 30px;
  margin: 0 auto;
  min-height: 100%;
}

.champion-content {
  display: inline-block;
  margin: 0 20px 20px 0;
}

.champion-image {
  display: block;
}

.champion-content a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.champion-infos {
  margin-bottom: 30px;
}

.recommended-block {
  background-color: #1a283f;
  padding: 20px 35px;
  margin-bottom: 40px;
}

.recommended-infos {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14;
  color: #788aaa;
  text-transform: uppercase;
}

.recommended-infos p {
  display: inline-block;
  margin-right: 20px;
}

.build-block {
  display: inline-block;
  margin: 0 30px 30px 0;
}


.build-block .items {
  display: inline-table;
  margin-right: 10px;
}

.build-block .items p {
  display: block;
}
