<% @champions.each do |champion| %>
  <div class='champion-content'>
    <a href="/champion/<%= champion.id %>">
      <img class='champion-image' src=<%= champion.image_url %>>
      <span class='champion-name'><%= champion.name %></span>
    </a>
  </div>
<% end %>
